version: '3.1'
services:
  api:
    build: ./src
    command: uvicorn app.main:app --reload --workers 1 --host 0.0.0.0 --port 8000
    volumes:
      - ./src/:/app/
    ports:
      - "8000:8000"
    depends_on:
      - rabbitmq

  rabbitmq:
    image: rabbitmq:3.8-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_VHOST: vhost
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  celery_worker:
    build: ./src
    command: celery -A app.celery_worker worker --loglevel=info
    environment:
      MAILERSEND_API_KEY: <api_key>
      DEFAULT_SENDER_NAME: <sender_name>
      DEFAULT_SENDER_EMAIL: <sender_email>
    depends_on:
      - rabbitmq
      - api
    stdin_open: true

  flower:
    build: ./src
    command: celery -A app.celery_worker flower --port=5555
    ports:
      - 5556:5555
    depends_on:
      - api
      - rabbitmq
      - celery_worker
